* {
    box-sizing: border-box;
    margin: 0;
    Padding: 0;
}

header li {
    display: inline;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.article article img {
    height: 180px;
}

.article article {
    width: 30%;
}